In [9]:
import pandas as pd

import os

In [12]:
df = pd.read_csv('/dj/valid.csv', index_col=False)

In [13]:
df.head(5)

                           ID  target
0  valid_d919dabe9f066dfc.jpg     1.0
1  valid_7f23b9ae37e539ea.jpg     1.0
2  valid_9a36a151cf95bb29.jpg     1.0
3  valid_f0d11155d48758de.jpg     1.0
4  valid_c8816965abf6559b.jpg     1.0

In [17]:
valid = pd.read_csv('/dj/valid.csv', index_col=None)

# Assuming the first column contains the IDs with the 'valid_' prefix
# Remove the 'valid_' prefix from the IDs
valid.iloc[:, 0] = valid.iloc[:, 0].str.replace('valid_', '')

In [26]:
test_directory = "/dj/data/test"
valid_df = new_valid[new_valid["ID"].apply(lambda x: os.path.exists(os.path.join(test_directory, x)))].copy()

# Assign the correct path to the new_valid images
valid_df["path"] = valid_df["ID"].apply(lambda x: os.path.join(test_directory, x))

In [18]:
valid

                       ID  target
0    d919dabe9f066dfc.jpg     1.0
1    7f23b9ae37e539ea.jpg     1.0
2    9a36a151cf95bb29.jpg     1.0
3    f0d11155d48758de.jpg     1.0
4    c8816965abf6559b.jpg     1.0
..                    ...     ...
291  1421fb31607c5123.jpg    13.0
292  70ee60fe819b7b39.jpg     0.0
293  359fab2e1b0ab5e1.jpg     2.0
294  01385f22f2490868.jpg     4.0
295  81dfc09159a18109.jpg     6.0

[296 rows x 2 columns]

In [27]:
valid_df

                       ID  target                                path
14   509d0d18ae93fea2.jpg     7.0  /dj/data/test/509d0d18ae93fea2.jpg
15   ddd0861c08ceb062.jpg    10.0  /dj/data/test/ddd0861c08ceb062.jpg
16   665e0d926f1742dd.jpg    12.0  /dj/data/test/665e0d926f1742dd.jpg
17   bc9af2da15862e2c.jpg    16.0  /dj/data/test/bc9af2da15862e2c.jpg
18   529f09adc05ce037.jpg     0.0  /dj/data/test/529f09adc05ce037.jpg
..                    ...     ...                                 ...
291  1421fb31607c5123.jpg    13.0  /dj/data/test/1421fb31607c5123.jpg
292  70ee60fe819b7b39.jpg     0.0  /dj/data/test/70ee60fe819b7b39.jpg
293  359fab2e1b0ab5e1.jpg     2.0  /dj/data/test/359fab2e1b0ab5e1.jpg
294  01385f22f2490868.jpg     4.0  /dj/data/test/01385f22f2490868.jpg
295  81dfc09159a18109.jpg     6.0  /dj/data/test/81dfc09159a18109.jpg

[282 rows x 3 columns]

In [30]:
new_valid = pd.DataFrame()

In [31]:
new_valid[['ID', 'target']] = valid_df[['ID', 'target']]

In [33]:
new_valid.to_csv('/dj/modified_valid.csv', index=False)

In [32]:
new_valid

                       ID  target
14   509d0d18ae93fea2.jpg     7.0
15   ddd0861c08ceb062.jpg    10.0
16   665e0d926f1742dd.jpg    12.0
17   bc9af2da15862e2c.jpg    16.0
18   529f09adc05ce037.jpg     0.0
..                    ...     ...
291  1421fb31607c5123.jpg    13.0
292  70ee60fe819b7b39.jpg     0.0
293  359fab2e1b0ab5e1.jpg     2.0
294  01385f22f2490868.jpg     4.0
295  81dfc09159a18109.jpg     6.0

[282 rows x 2 columns]